.checkbox {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: $asphalt;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox__icon {
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: $text-head;
  border: 2px solid $grey;
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
  fill: $pink;
}

.checkbox__input:hover + .checkbox__icon {
  border: 2px solid $asphalt;
}

.checkbox__input:focus + .checkbox__icon {
  cursor: pointer;
  border: 2px solid $asphalt;
  outline: 2px solid $focus;
}

.checkbox__input:active + .checkbox__icon {
  border: 2px solid $pink;
}

@media ($tablet) {
  .checkbox__icon {
    left: 58px;
  }
}
