.page-title {
  text-align: center;
  color: white;
}

.page-title__text {
  padding: 0;
  padding-top: 31px;
  margin: 0 auto;
  width: 168px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: white;

  &--photo {
    padding-bottom: 76px;
    padding-top: 27px;
    line-height: 33px;
  }

  &--form {
    margin-top: -4px;
    padding-bottom: 46px;
    line-height: 32px;
    width: 228px;
  }
}

@media ($tablet) {
  .page-title__text {
    padding-top: 72px;
    font-size: 50px;
    line-height: 60px;
    width: 356px;

    &--photo {
      padding-top: 67px;
      padding-bottom: 130px;
      line-height: 66px;
    }

    &--form {
      padding-top: 75px;
      padding-bottom: 63px;
      width: 474px;
      line-height: 66px;
    }
  }
}

@media ($desktop) {
  .page-title__text {
    padding-top: 63px;
    padding-bottom: 101px;

    &--photo {
      padding-top: 61px;
      padding-bottom: 92px;
      line-height: 66px;
    }

    &--form {
      width: 747px;
      padding-bottom: 93px;
    }
  }
}
