.photo-section {
  margin-top: -445px;
  background-color: #ffffff;
}


.photo-section__main-wrapper {
  min-width: 320px;
}

.photo-section__slogan-wrapper {
  text-align: center;
  margin-bottom: 54px;
}

.photo-section__slogan {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}
