$pink: #d22856;
$pink-pale: rgba(210, 40, 86, 0.3);
$asphalt: #283645;
$text-head: white;
$black: #000000;
$red: red;
$mobile: "max-width: 659px";
$tablet: "min-width: 660px";
$desktop: "min-width: 960px";
$light-grey: #f2f2f2;
$nav-white: rgba($text-head, 0.15);
$down-mobile: rgba($pink, 0.3);
$down-link: rgba($asphalt, 0.3);
$down-post: rgba($text-head, 0.3);
$slider-toggle: rgba($asphalt, 0.6);
$down-cancel: rgba($asphalt, 0.1);
$grey: #e5e5e5;
$nav: rgba($black, 0.3);
$button-hover: rgba($asphalt, 0.5);
$green: #2aab6d;
$dark-green: #1c9b5e;
$focus: #a6c7ff;
